<div class="row">
  <div class="col-12 col-md-6 offset-lg-3">
    <div class="bg-white rounded p-3 shadow">
      <%= simple_form_for [@excursion, @booking], url: excursion_bookings_path(@excursion), method: :post do |f| %>
        <%= f.input :start_time %>
        <%= f.input :end_time %>

        <div class="mb-3">
          <p> press button to register for <%= @excursion.name %> </p>
          <%= f.submit "register", class: 'btn btn-primary' %>
        </div>
        <% if current_user.id == @excursion.user_id %>
          <div class="mb-3">
            <%= f.label :confirmed %>
            <%= f.checkbox :confirmed %>
          </div>
        <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
