<div class="card-profile-user">
  <div class="avatars">
    <div class="avatar-large dropdown-toggle">
      <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, height: 75, width: 75, radius: "max",  crop: :fill, fetch_format: :png %>
      <% else %>
        <%= image_tag("user_avatar.png", class: "avatar")  %>
      <% end %>
    </div>
  </div>

  <div class="card-body row justify-content-center">
    <h4 class="card-title text-center"><%= current_user.first_name%> <%= current_user.last_name%></h4>
    <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <%= link_to "Edit", edit_user_registration_path, class: "btn btn-primary" %>
  </div>
</div>
