<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container flex align-items-center">
    <div class="navbar-logo col-md-4">
      <%= link_to image_tag("traveler.png",alt: "Traveler" ), '/', class: "navbar-brand" %>
    </div>

    <div class="navbar-title col-md-4 d-flex align-items-center">
      <h1>WALKBOUT</h1>
    </div>

    <div class="collapse navbar-collapse col-md-4" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <div class="dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
              <% if current_user.photo.attached? %>
                <%= cl_image_tag current_user.photo.key, height: 50, width: 50, radius: "max",  crop: :fill, fetch_format: :png %>
              <% else %>
                <%= image_tag("user_avatar.png", class: "avatar")  %>
              <% end %>
            </div>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Discover", excursions_path, class: "dropdown-item"  %>
              <% if current_user.role == "Host"%>
                <%= link_to "My excursions", myexcursions_path, class: "dropdown-item" %>
              <% else %>
                <%= link_to "My bookings", mybookings_path, class: "dropdown-item" %>
              <% end %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "btn btn-login" %>
          </li>
          <li class="nav-item">
            <%= link_to "Join", new_user_registration_path, class: "btn btn-join" %>
          </li>
          <li class="nav-item">
            <i class="fa-solid fa-user"></i>
          </li>
          <% end %>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>
