<div class="container pt-2">
  <div class="row d-flex flex-row-reverse">
    <div class="col-9 align-self-end">
      <% if current_user.role == 'Host'%>
        <%= link_to "+ Excursion", new_excursion_path, class: "btn btn-login" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <%= render 'shared/card_profile' %>
    </div>

    <div class="cards col-9">
      <% @bookings.each do |booking| %>
        <div class="card-excursion">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
          <div class="card-excursion-infos">
            <div>
              <h2><%= link_to booking.excursion.name, excursion_path(booking.excursion) %></h2>
              <p><%= booking.excursion.description %></p>
              <%# WE NEED TO DISPLAY START AND END TIME %>
              <h2><%= booking.excursion.start_time %></h2>
              <h2><%= booking.excursion.end_time %></h2>
            </div>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-excursion-user avatar-bordered" />
            <%= link_to "Cancel", booking_path(booking.excursion), method: :delete, class: "btn btn-cancel", data: { confirm: "Are you sure you want to cancel this excursion?" } %>
            <%= link_to "Edit", edit_booking_path(booking.excursion), class: "btn btn-cancel" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
