<div class="container">
  <h1>My Excursions</h1>
  <%= link_to "Create a new excursion", new_excursion_path, class: "btn btn-cancel" %>
  <div class="row">
    <div class="col-md-4">
      <%= render 'shared/card_profile' %>
    </div>
    <div class="col-md-8">
      <% @excursions.each do |excursion| %>
        <div class="card-excursion">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
          <div class="card-excursion-infos">
            <div>
              <h2><%= link_to excursion.name, excursion_path(excursion.id) %></h2>
              <p><%= excursion.description %></p>
            </div>
            <h2 class="card-excursion-pricing">€<%= excursion.price %></h2>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-excursion-user avatar-bordered" />
            <%= link_to "Delete", excursion_path(excursion.id), method: :delete, class: "btn btn-cancel", data: { confirm: "Are you sure you want to delete this excursion?" } %>
            <%= link_to "Edit", edit_excursion_path(excursion.id), class: "btn btn-cancel" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
