<div class="row">
  <div class="col-12 col-md-6 offset-lg-3">
    <div class="bg-white rounded p-3 shadow">
      <%= simple_form_for @excursion do |f| %>
        <div class="mb-3">
          <%= f.label :name %>
          <%= f.text_field :name, placeholder: 'Guided City Tour with a local' %>
        </div>
        <div class="mb-3">
        <%= f.label :description %>
          <%= f.text_area :description, placeholder: 'Describe your excursion...' %>
        </div>
        <div class="mb-3">
        <%= f.label :country %>
          <%= f.text_field :country, placeholder: 'Excursion country' %>
        </div>
        <div class="mb-3">
        <%= f.label :location %>
          <%= f.text_field :location, placeholder: 'Excursion location' %>
        </div>
        <div class="mb-3">
        <%= f.label :price %>
          <%= f.number_field :price,in: 1.0..20.0, step: 0.5, placeholder: '0.00' %>
        </div>
        <div class="mb-3">
          <%= f.label :capacity %>
          <%= f.number_field :capacity,in: 1..100, placeholder: '1' %>
        </div>
          <%= f.input :photo, as: :file, required: :false %>
        <div class="mb-3">
          <%= f.submit class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
