<div class= "container">
  <h1> Excursions </h1>
  <div class="container mb-3 ">
    <% if current_user.role == 'Host'%>
      <%= link_to "+ Excursion", new_excursion_path, class: "btn btn-primary" %>
    <% end %>
    <%= form_tag excursions_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find an Excursion"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
  <div class="d-flex">
    <div class="cards col-md-6">
      <% @excursions.each do |excursion| %>
        <div class="card-excursion">
          <% if excursion.photo.attached? %>
                <%= cl_image_tag excursion.photo.key, crop: :scale , q_auto: :good  %>
              <% else %>
                <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
              <% end  %>
          <div class="card-excursion-infos">
            <div>
              <h2><%= link_to excursion.name, excursion_path(excursion.id) %></h2>
              <p><%= excursion.description %></p>
            </div>
            <h2 class="card-excursion-pricing">€<%= excursion.price %></h2>
            <% if excursion.user.photo.attached? %>
                <div class="card-excursion-user avatar-bordered">
                  <%= cl_image_tag excursion.user.photo.key, height: 40, width: 40, radius: "max",  crop: :thumb, fetch_format: :png %>
                </div>
              <% else %>
                <%= image_tag("user_avatar.png", class: "avatar")  %>
              <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="map col-md-6">
      <img src="https://www.seekpng.com/png/full/10-103122_world-map-designs-png-world-map-web-design.png" />
    </div>
  </div>
</div>
