<h1> <%= @excursion.name %> </h1>
<h5> Capacity : <%= @excursion.capacity %> | €<%= @excursion.price %> </h5>
<p> <%= @excursion.description %> </p>
<hr>
<%= link_to "back", excursions_path, class: "btn btn-primary"%>
